################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns2/DesignPatterns2/.vs/DesignPatterns2
/.vs
/DesignPatterns2/DesignPatterns2/.vs/ProjectEvaluation
/DesignPatterns2/DesignPatterns/.vs/DesignPatterns
